<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/home/bootstrap-reset.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/home/clndr.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/home/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/home/morris.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/home/style-responsive.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/home/style.css">
</head>

<body>
    <section id="container">
        <header class="header white-bg">
            <!-- SIDEBAR TOGGLE BUTTON -->
            <div class="sidebar-toggle-box">
                <div data-placement="right" class="fa fa-bars tooltips" data-original-title="" title="">
                </div>
            </div>
            <!-- SIDEBAR TOGGLE BUTTON  END-->
            <a href="/home" class="logo">
          XYF
          <span>
            Admin
          </span>
        </a>
            <!-- START USER LOGIN DROPDOWN  -->
            <div class="top-nav ">
                <ul class="nav pull-right top-menu">
                    <!-- <li>
                        <input type="text" class="form-control search" placeholder="Search">
                    </li> -->
                    <!-- <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img alt="" src="img/avatar1_small.jpg">
                            <span class="username">
			                  Pruthvi
			                </span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <li class="log-arrow-up">
                            </li>
                            <li>
                                <a href="#">
                                    <i class=" fa fa-suitcase">
                    				</i> Profile
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-cog">
                    				</i> Settings
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-bell-o">
                    				</i> Notification
                                </a>
                            </li>
                            <li>
                                <a href="login.html">
                                    <i class="fa fa-key">
                    				</i> Log Out
                                </a>
                            </li>
                        </ul>
                    </li> -->
                </ul>
            </div>
            <!-- END USER LOGIN DROPDOWN  -->
        </header>
        <aside>
            <div id="sidebar" class="nav-collapse" tabindex="5000" style="overflow: hidden; outline: none;">
                <ul class="sidebar-menu" id="nav-accordion" style="display: block;">
                    <li>
                        <a href="index.html" class="active">
                            <i class="fa fa-dashboard">
                			</i>
                            <span>新增收入</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html" class="active">
                            <i class="fa fa-dashboard">
                			</i>
                            <span>新增支出</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <section id="main-content">
            <section class="wrapper">
                <div class="row state-overview">
                	<div class="col-lg-3 col-sm-6">
                        <section class="panel">
                            <div class="symbol">
                                <i class="fa fa-tags blue">
                  				</i>
                            </div>
                            <div class="value">
                                <h1 class="count">4195</h1>
                                <p>
                                    本月收入
                                </p>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <section class="panel">
                            <div class="symbol">
                                <i class="fa fa-tags blue">
                  				</i>
                            </div>
                            <div class="value">
                                <h1 class="count">495</h1>
                                <p>
                                    本月吃喝
                                </p>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <section class="panel">
                            <div class="symbol">
                                <i class="fa fa-money red">
                  				</i>
                            </div>
                            <div class="value">
                                <h1 class="count">947</h1>
                                <p>
                                    本月住宿
                                </p>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <section class="panel">
                            <div class="symbol">
                                <i class="fa fa-user yellow">
                  				</i>
                            </div>
                            <div class="value">
                                <h1 class="count">328</h1>
                                <p>
                                    本月出行
                                </p>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <section class="panel">
                            <div class="symbol">
                                <i class="fa fa-shopping-cart purple">
                  				</i>
                            </div>
                            <div class="value">
                                <h1 class="count">8562</h1>
                                <p>
                                    本月衣服
                                </p>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <section class="panel">
                            <div class="symbol">
                                <i class="fa fa-shopping-cart purple">
                  				</i>
                            </div>
                            <div class="value">
                                <h1 class="count">10328</h1>
                                <p>
                                    本月生活
                                </p>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <section class="panel">
                            <div class="symbol">
                                <i class="fa fa-shopping-cart purple">
                  				</i>
                            </div>
                            <div class="value">
                                <h1 class="count">9823</h1>
                                <p>
                                    本月其他
                                </p>
                            </div>
                        </section>
                    </div>
                </div>
                <div id="morris">
                    <div class="row">
                        <div class="col-lg-6">
                            <section class="panel">
                                <header class="panel-heading">
                                    每个月的总支付
                                </header>
                                <div class="panel-body">
                                    <div id="hero-area" class="graph">
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="calendar-block ">
                                    <div class="cal1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
	<script type="text/javascript">
	var mydata=[{
                period: '2016-03',
                count: 2250
            }, {
                period: '2016-04',
                count: 4550
            }, {
                period: '2016-05',
                count: 7750
            }, {
                period: '2016-06',
                count: 5750
            }, {
                period: '2016-07',
                count: 10000
            }, {
                period: '2016-08',
                count: 9000
            }, {
                period: '2016-09',
                count: 8000
            }, {
                period: '2016-10',
                count: 7000
            }]
	</script>

    <script type="text/javascript" src="../public/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="../public/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../public/javascripts/home/jquery.dcjqaccordion.2.7.js"></script>
    <script type="text/javascript" src="../public/javascripts/home/jquery.nicescroll.js"></script>
    <script type="text/javascript" src="../public/javascripts/home/respond.min.js"></script>

    <script type="text/javascript" src="../public/javascripts/home/common-scripts.js"></script>
    <script type="text/javascript" src="../public/javascripts/home/count.js"></script>
    <script type="text/javascript" src="../public/javascripts/home/morris.min.js"></script>
    <script type="text/javascript" src="../public/javascripts/home/raphael-min.js"></script>
    <script type="text/javascript" src="../public/javascripts/home/chart.js"></script>
    <script type="text/javascript" src="../public/javascripts/home/clndr.js"></script>
    <script type="text/javascript" src="../public/javascripts/home/evnt.calendar.init.js"></script>
    <script type="text/javascript" src="../public/javascripts/home/moment-2.2.1.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
</body>

</html>
